.component {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-flow: column;
}

.menuContainer {
    width: calc(100% - 40px);
    height: calc(70px);
    color: #066ec1;
    line-height: 70px;
    margin-left: 40px;
    vertical-align: bottom;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: -.5px;
    text-transform: uppercase;
    margin-top: 20px;
}


.container {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: white;
}

.tableContainer {
    overflow-x: scroll;
    overflow-y: scroll;
}


.item  {
   cursor: pointer;
}

.item:hover {
    text-decoration: underline;
    color: #2762d9 !important;
}


.loader {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    position: absolute;
    z-index: 1000;

}

.logo {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 280px;
}